
*__pycache__*

**/*.jpg

**/*.ipynb

**/*.pth*

.env*

**/*.npy*

**/*.eps*

**/*.pkl*

**/*.pdf

**/config.yml

scripts/*

*judge_accuracy.json*

*judge_outputs.json*

*ratings.csv*

*eval_outputs.csv*

*relevance_fluency_prompts.csv*

*judge_prompts.csv*

.ipynb_checkpoints/
